body{background-image: url("https://img.redbull.com/images/q_auto,f_auto/redbullcom/2013/09/16/1331611589333_2/las-cosas-que-no-sab%C3%ADas-sobre-el-pac-man.jpg");
    background-color:black}
header{background-color: red;
border:5px solid red;
border-radius:15px;
text-align: center;}
div{text-align:center;}
div{padding:10px;}
.col{border:5px solid red;
border-radius: 15px;}
p{background:black}